################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomeAuthorization/bin/Debug/netcoreapp3.1/Microsoft.AspNet.SignalR.Core.dll
