################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomeAuthorization/bin/Debug/netcoreapp3.1/Microsoft.AspNet.SignalR.Core.dll
/CustomeAuthorization/bin/Debug/netcoreapp3.1/CustomeAuthorization.runtimeconfig.json
/CustomeAuthorization/bin/Debug/netcoreapp3.1/CustomeAuthorization.runtimeconfig.dev.json
/CustomeAuthorization/bin/Debug/netcoreapp3.1/CustomeAuthorization.pdb
/CustomeAuthorization/bin/Debug/netcoreapp3.1/CustomeAuthorization.exe
/CustomeAuthorization/bin/Debug/netcoreapp3.1/CustomeAuthorization.dll
/CustomeAuthorization/bin/Debug/netcoreapp3.1/CustomeAuthorization.deps.json
/CustomeAuthorization/bin/Debug/netcoreapp3.1/appsettings.json
/CustomeAuthorization/bin/Debug/netcoreapp3.1/appsettings.Development.json
/.vs/Authorization/v17
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/CustomeAuthorization/obj
